//============================================
// Defaults - Common
//============================================
	$font-size: 15px !default;			// Font size
	$line-height: 1.8 !default;					// Body line height
	$border-radius: 3px !default;

	$padding: 0.65rem !default;						// Padding starting value
	$padding-multipler: 1.2 !default;			// Grow padding by multipler

	$viewport-md: 768px !default;				// Responsiveness breakpoint medium
	$viewport-lg: 1024px !default;				// Responsiveness breakpoint large
	$custom_grids: () !default; 					// Custom Grids  -  ie: $custom_grids: ("sv": 7) creates os-sv7 - .os-sv-7 (sevenths)

//============================================
// Defaults - Uncommon
//============================================
	$animation-speed: 0.15s !default; 			// animations
	$hover-difference: 6% !default; 				// hover effects
	$contrast: 0.20 !default; 					// builds color differences
	$anchor-offset: 46px !default; 				// for id hrefs 

	// Typeography
	$h-line-height: 1.5 !default;
	$h1: 1.4rem !default;
	$h2: 1.3rem !default;
	$h3: 1.2rem !default;
	$h4: 1.1rem !default;
	$h5: 1.0rem !default;
	$h6: 0.8rem !default;

	$font-normal: 400 !default;
	$font-medium: 500 !default;
	$font-bold: 700 !default;

//============================================
// Theme
//============================================
	$primary: #2b80b9 !default;
	$secondary: #3b914e !default;

	$error: #d43e2d !default;
	$warning: #f39c12 !default;
	$info: #3493d3 !default;
	$success: #22ac73 !default;

	$black: #252830 !default;
	$white: #fafafa !default;

	$background: $white !default;
	$text: $black !default;