# Enable rewrite engine and route requests to framework
Options -Indexes
RewriteEngine On

# Some servers require you to specify the `RewriteBase` directive
# In such cases, it should be the path (relative to the document root)
# containing this .htaccess file
#
RewriteBase /

# RewriteRule ^(tmp)\/|\.ini$ - [R=404]
# RewriteCond %{REQUEST_URI} !\.(jpg|png|css|js)$

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/index.php
RewriteRule . index.php [L]