# Enable rewrite engine and route requests to framework
Options -Indexes
RewriteEngine On

# Some servers require you to specify the `RewriteBase` directive
# In such cases, it should be the path (relative to the document root)
# containing this .htaccess file
#
RewriteBase /

RewriteRule ^(tmp)\/|\.ini$ - [R=404]
# RewriteCond %{REQUEST_URI} !\.(jpg|png|css|js)$

# Add Proper MIME-Type for Favicon
AddType image/x-icon .ico

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/index.php
RewriteRule . index.php [L]

<IfModule mod_expires.c>
	ExpiresActive On
    # ExpiresDefault										"access plus 6 months"

	# css
    # ExpiresByType text/css                              "access plus 1 year"
	#html
    # ExpiresByType text/x-component                      "access plus 2 months"
    # ExpiresByType text/html                             "access plus 6 months"
	#javascript
    # ExpiresByType application/javascript                "access plus 1 year"
    # ExpiresByType application/x-javascript              "access plus 1 year"
	#manifest
	# ExpiresByType application/x-web-app-manifest+json   "access plus 0 seconds"
    # ExpiresByType text/cache-manifest                   "access plus 0 seconds"
	# ExpiresByType application/atom+xml                  "access plus 1 hour"
    # ExpiresByType application/rss+xml                   "access plus 1 hour"
	#media
	ExpiresByType image/x-icon							"access plus 1 day"
	ExpiresByType audio/ogg                             "access plus 1 year"
    ExpiresByType image/gif                             "access plus 1 year"
    ExpiresByType image/jpg                             "access plus 1 year"
    ExpiresByType image/jpeg                            "access plus 1 year"
    ExpiresByType image/png                             "access plus 1 year"
    ExpiresByType image/svg                             "access plus 1 year"
    ExpiresByType image/svg+xml                         "access plus 1 year"
    ExpiresByType video/mp4                             "access plus 1 year"
    ExpiresByType video/ogg                             "access plus 1 year"
    ExpiresByType video/webm                            "access plus 1 year"
    ExpiresByType image/x-icon                          "access plus 1 year"
    ExpiresByType application/pdf                       "access plus 1 year"
    ExpiresByType application/x-shockwave-flash         "access plus 1 year"
	#fonts
	ExpiresByType application/font-woff                 "access plus 1 year"
    ExpiresByType application/font-woff2                "access plus 1 year"
    ExpiresByType application/vnd.ms-fontobject         "access plus 1 year"
    ExpiresByType application/x-font-ttf                "access plus 1 year"
    ExpiresByType font/opentype                         "access plus 1 year"

	# <FilesMatch "\style.php$">
	# 	Header set Cache-Control "max-age=2419200, public"
	# 	ExpiresByType text/html "access plus 1 day"
	# </FilesMatch>
</IfModule>