//============================================
// Defaults - Common
//============================================

//============================================
// Theme
//============================================
	$primary: #a02c2f;
	$secondary: #3b914e;

	$black: #252830;
	$white: #f0f4ff;

	$grey: rgba(mix($white, $black, 50%), 0.3);

	$background: $black;
	$text: $white;
	$dark: darken($black, $hover-difference);
	$light-grey: lighten($background, 8%);
	$dark-grey: lighten($background, 50%);