
// $padding: 12px;
// $padding-multipler: 1.2;
// $border-radius: 0; 

//============================================
// Theme
//============================================
	$primary: #a02c2f;
	$secondary: #3b914e;

	$black: #252830;
	$white: #f0f4ff;

	$grey: rgba(mix($white, $black, 50%), 0.3);

	$background: $black;
	$text: $white;
	$dark: darken($black, $hover-difference);
	$light-grey: lighten($background, 5%);
	$dark-grey: darken($background, 2%);