
$padding: 12px;
// $padding-multipler: 1.4;
$font-size: 15px;
$font-bold: 500;
// $border-radius: 0; 

//============================================
// Theme
//============================================
// $primary: #a02c2f;
$primary: #e0b15a;
$secondary: #a02c2f;

// $black: #252830;
// $black: #2C333B;
$black: #1e232a;
$white: #f0f4ff;

$grey: rgba(mix($white, $black, 50%), 0.3);

$background: $black;
$text: $white;
$dark: #181A1F;
$light-grey: #393944;
$dark-grey: darken($background, 2%);

$h1: 3.4rem;
$h2: 2.7rem;
$h3: 1.5rem;
$h4: 1.2rem;
$h5: 1.0rem;
$h6: 0.8rem;