@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url("/admin/css/materialicons.woff2") format('woff2');
}

@font-face {
	font-family: 'Prohibition';
	// font-style: normal;
	// font-weight: 300;
	src: url("/content/themes/bigdumbgg/css/Prohibition-Regular.otf") format('opentype');
}

// BG
.background-svg1 {
	background-color: #000000; filter: blur(4px);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%23e0b15a' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='5' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' %3E%3Cg transform='rotate(0 0 0)' %3E%3Ccircle fill='%23e0b15a' r='10'/%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 100%;
	opacity: 0.5;
}

// Colors
$wow-colors: (
	deathknight: #c41f3b,
	demonhunter: #a330c9,
	druid: #ff7d0a,
	hunter: #abd473,
	mage: #40c7eb,
	monk: #00ff96,
	paladin: #f58cba,
	priest: #ddd,
	rogue: #fff569,
	shaman: #0070de,
	warlock: #8787ed,
	warrior: #c79c6e,
	artifact: #e6cc80,
	legendary: #e6cc80,
	orange: #ff8000,
	epic: #a335ee,
	rare: #0070dd,
);

@each $name, $color in $wow-colors {
	.#{$name} {color: $color; }
} 

// HELPERS
.full-stretch {position: absolute; top: 50%; left: 50%; @include prefix(transform, translate(-50%, -50%)); max-width: none; min-width: 100%; min-height: 100%; z-index: -1; }

//===========================================
// OS Overrides
//===========================================
body {background: $background; color: $white; font-family: 'Montserrat', sans-serif; color: #d0d1d3; font-weight: 400;}
.container {max-width: 1400px;}
.fill-primary {fill: $primary; }
.fill-facebook {fill: #3b5998}
.fill-youtube {fill: #FF0000}
.fill-instagram {fill: #405de6}
.fill-twitch {fill: #6441a5}
.fill-twitter {fill: #1da1f2}
.fill-discord {fill: #7289da}

h1, .h1, h2, .h2, h3, .h3 {color: #fff; font-weight: 500;}

.h1, h1 {font-weight: 500; }
.h2, h2 {font-weight: 500; }
.h3, h3 {font-weight: 500; }
.h4, h4 {font-weight: 500; }
.h5, h5 {font-weight: 500; }
.h6, h6 {font-weight: 500; }

// p {color: #ddd;}

// h1 {font-family: "Prohibition"; font-weight:normal;  }

.content {position: relative; }
.message_outer {position: absolute; top: $pad2; left: 0; right: 0;  }

.text-white {color: $white; }

// a {color: $primary;}
// a:hover {color: $primary; }

//===========================================
// TYPEOGRAPHY
//===========================================
.ql-align-center {text-align: center; }
.fill-white {fill: $white; }
.fill-primary {fill: $primary; }

//===========================================
// HEADER
//===========================================
.logo {
	color: $white; display: block; font-size: 36px; padding: $pad1; padding-bottom: 18px; padding-left: 0; font-family: "Prohibition"; line-height:1; font-weight: normal;
	svg {display:inline-block; max-width: 38px; height: 38px; margin: -5px 10px; margin-left: 0; fill: $primary; }
	span {color: $primary; }
	&:hover {opacity: 0.8; color: $white; }
}
.top_outer {
	background: lighten($dark, 1%); border-bottom: 1px solid $grey;
	.links a {font-size:13px; opacity:0.3; color: #ddd; padding: 4px 4px 6px; display:inline-block; }
	.links a:hover { opacity: 1;}
}

.header_outer {
	position: sticky; top: 0; z-index: 300; border-bottom: 1px solid $primary; overflow:hidden; 
	&:before {
		content: ''; position: absolute; top: -600px; height: 1200px; width: 100%; background: #181A1F; background: radial-gradient(circle, rgb(41, 45, 53) 0%, rgba(24,26,31,1) 40%); transform: scale(1.3, .4); z-index: 0;
	}

	.header {position: relative; z-index: 2; }
}
.header .menu {
	margin:0; padding:0; list-style: none;
	li {display: inline-block; }
	a { display:block; color: $white; padding: $pad1 $pad2; opacity: 1; font-weight: 500; }
	a:hover {opacity: 1; color: $white;  }
	a.active {opacity: 1; color: $primary; }
}
// Header
.bdg {
	font-size:0.01rem;
	a {display: inline-block; opacity: 0.8; margin: 0 2px; padding: 5px; width: 24px; height:24px;}
	span {display:block; position:relative; height:100%;}
	svg {fill:$white; display:block; position: absolute; top: 50%; left: 50%; @include prefix(transform, translate(-50%, -50%)); width:100%; height: auto !important; }
}

a:hover {
	opacity: 1;
	&.emblem svg {fill: $primary}
	&.koobecaf svg {fill: #3b5998}
	&.ebutuoy svg {fill: #FF0000}
	&.margatsni svg {fill: #405de6}
	&.hctiwt svg {fill: #6441a5}
	&.rettiwt svg {fill: #1da1f2}
	&.drocsid svg {fill: #7289da}
}

//===========================================
// FOOTER
//===========================================
.footer_outer {
	background: #1c1e24; border-top: 2px solid $primary; position: relative;
	
	.footer {position: relative; z-index: 1; }
}
.footerlogo {
	h2 {text-align:center; color: $white; display: block; font-size: 50px; font-family: "Prohibition"; line-height:1; font-weight: normal; }
	span {color: $primary; }
	svg {width: 130px; margin: auto; }
}
.subfooter {background: darken($dark, 2%); border-top: 1px solid $grey }
.footer_menu {
	.head_link {padding: $pad1 0; font-weight: 500; color: $white; border-bottom: 2px solid $primary; display:inline-block; font-size: 1.1rem; margin-bottom: 5px;}
	a {opacity: 0.7; padding: 4px 0; padding-right: $pad2; display: inline-block; color: $white; }
	a.active {opacity: 1; color: $primary; font-weight: 500; }
	a:hover {opacity: 1; color: $primary; }
}

//===========================================
// HOME
//===========================================
.home_feature { 
	overflow:hidden; padding: 75px 0 180px;
	.content {max-width: 800px;}
	.application_updates {min-width: 400px; }
	h3 {font-weight: normal;}
}
.home_next {margin-top: -120px; position: relative; z-index: 2;  }

//===========================================
// CONTENT
//===========================================
	@keyframes float {
		0% {transform: translatey(0px);}
		50% {transform: translatey(-10px);}
		100% {transform: translatey(0px);}
	}
	.float {
		transform: translatey(0px);
		animation: float 6s ease-in-out infinite;
	}

	.home_hero {
		position: relative; border: 2px solid black; border-left: none; border-right: none; overflow:hidden; 
		img {z-index: -1; min-width: 100%; max-width: none; display:block; }
		.text_overlay {width: 100%; max-width: none; position: absolute; top: 50%; left: 0; @include prefix(transform, translateY(-50%)); }
		h2 {font-size: 2.5rem; }
		h3 {font-size: 1.1rem; font-weight: normal; }
	}
	.home_parallax {
		overflow: hidden; height: 100vh; max-height: 600px;
		.bg {min-width: 130%; max-width: none; margin-left: -20%; margin-top: -10%; z-index: -1; }
	}


	.section {
		padding: $pad4 0; position: relative;
		&.dark {
			background: rgba(23, 28, 35, .5);
		}
	}

	.page_header_outer {
		position: relative; overflow: hidden; padding: $pad4 0; padding-top: 10vh; 
		&.news {padding-top: 20vh;}

		.bg {position: absolute; top: 50%; left: 50%; @include prefix(transform, translate(-50%, -50%)); max-width: none; min-width: 100%; min-height: 100%; z-index: -1; }
		img {z-index: -1; min-width: 100%; max-width: none; display:block; }
		.text_overlay {width: 100%; max-width: none; position: absolute; top: 50%; left: 0; @include prefix(transform, translateY(-50%)); }
		
	}

	.page_header {
		position: relative; z-index: 5; 
		h1 {margin: 0; font-size: 2.5rem; text-shadow: 1px 1px 4px black; display:inline-block; clear: both; }
		h3 {font-size: 1.1rem; font-weight: normal; text-shadow: 1px 1px 2px black; display:inline-block; clear: both; }
		.breadcrumbs { display:inline-block; clear: both; padding: $pad1 0; margin-left: -6px; }
	}
	.breadcrumbs {
		font-size: 0.9rem;
		& > * {padding: 2px 6px;}
	}


	.table_lead {background: $dark; border-radius: 3px 3px 0 0; color: white; font-size: 16px; font-weight: 600; margin: 20px 0 0; padding: $pad1;}
	table tr, .table tr, table thead tr, .table thead tr {border: none; }
	table {
		word-break: break-all;

		th {font-size: 0.9rem; text-transform: uppercase; font-weight: 600; color: white; padding: $pad1; line-height:2;}
		tbody {
			tr:nth-child(even) { background: $dark-grey;  }
			td {padding: $pad1; font-weight:300; letter-spacing: 0.025rem; }
		}

		thead {background: $dark; }
	}


	// Cards
	.card_glow {border-radius: $pad1; padding: $pad2; box-shadow: rgba(0,0,0,.2) 0 0 $pad2; }
	.card {
		display:block; position: relative; z-index: 2; padding: $pad2; border: 2px solid $dark; overflow:hidden; transition: box-shadow $animation-speed ease-in-out;
		&:after {
			content: ''; position: absolute; top: -1px; left: -1px; right: -1px; bottom: -1px; opacity: 0.7; z-index: -1; 
			background: linear-gradient(0deg, rgba($dark, 1) 0%, rgba($dark, .8) 40%, rgba($dark, 0) 80%);
		}
		.bg {display:block; margin: 0; position: absolute; z-index: -2; max-width: 150%; max-height: none; min-width: 100%; min-height: 100%; position: absolute; top: 50%; left: 50%; @include prefix(transform, translate(-50%, -50%)); }
		&:hover {
			&:after {opacity: 0.9;}
		}
	}

	.news_card {padding-top: 200px;}
	.latest.news_card { border: none;}

	// home partners
	.home_partner {
		max-height: 100px; overflow: hidden; position: relative; height: 75px; display: block; 
		img {max-height: 25px; display:block; margin: 0; }
		&.gg img {max-height: 27px; margin-top: 2px;}
		&.wowhead img {max-height: 95px; margin-top: -26px;}
		// img {max-width: 280px; max-height: none; max-height: 40px; position: absolute; top: 50%; left: 50%; @include prefix(transform, translate(-50%, -50%)); }
	}

	.field-side_by_side img, .field-side_by_side svg {
		max-width: 60%;
		display: block;
		margin: auto;
		fill: #a02c2f;
	}

// Widgets
.widget {
	background: $black; margin-bottom: $pad1; border-radius: 3px 3px 0 0; border-top: 3px solid $primary;
	& > .title {font-size:16px; font-weight:700; color: $white; background: $dark; padding: $pad1 $pad2; border-radius: 3px 3px 0 0;}
	& > .content {padding: $pad1;}
}
.widget_categories > .content {padding:0;}
.widget:nth-child(2n) {border-color: $secondary;}

// .widget.progression {
// 	.instance {color: $white;}

// 	// .boss {}
// 	.boss.dead {color:#ee783c;}
// 	.boss.alive{color:#aaa;}
// 	.rank {color:#fff; font-weight:bold; font-size:16px;}
// 	.rank span.blue {color:#0070DD;}
// 	.rank span.purple {color:#A335EE;}
// 	.rank span.orange {color:#FF8000;}

// 	.hours {font-style:italic; color:#aaa; margin-top: $pad1; font-size: 14px; text-align:center;}
// }
.boss_kills .os {padding: 5px; }
.boss_kills img { border-radius: 4px; border: 1px solid #222; }

.widget.twitter {
	.content {padding: 0; }
	.title {
		display:block;
		span {display: inline-block; }
	}
	// .tweet {
	// 	display:block; background: rgba($dark, .2); margin-bottom: $pad1; font-size: 14px;
	// 	.title {color: $white; opacity: 0.6; padding: $pad1;}
	// 	.title:hover {color: $white; opacity: 1; }
	// 	.message {padding: 0 $pad1 $pad1;}
	// }
}

.tweet {
	position: relative; @include prefix(transition, background ease-in-out $animation-speed);
	&:hover {background: rgba(25, 39, 52, .3)}

	.head {
		padding: $pad1; padding-bottom: 0;
		img {border-radius: 50%; width: 30px; margin-top: 6px; margin-right: 4px; }
		.name {margin-right: 5px; }
		.user {margin-right: 5px; }
		.user, .head .user a, .head .date {color: #888; font-size: 0.9em;}
	}

	.link_overlay {position: absolute; top: 0; right: 0; bottom: 0; left:0; z-index: 3;  }

	.message { font-size: 15px; padding: $pad1;}

	.tweet {margin-top: $pad1; border: 1px solid #444; border-radius: 20px; overflow: hidden; z-index: 2; }
	.tweet:hover {background: rgba(255, 255, 255, .03);}

	.text a:nth-last-of-type(1) {display: none;}
}

.widget.applications {
	a {color: $white; }
	a:hover {color: $primary; }
}
// .widget:nth-child(3n) {border-color: $silver;}



//===========================================
// APPLICATIONS
//===========================================
.avatar_icon {width: 40px; height: 40px; overflow: hidden; border-radius: 50%; }
.avatar_icon.xs {width: 20px; height: 20px; }
.unread_status {min-width: 60px;}

.application_view {
	.group_label {color: $primary; font-size: 1.5rem; border-bottom: 1px solid $grey; padding-bottom: $pad1; margin-bottom: $pad1; }
	a {color: $primary; }
	label {font-weight: 600; }
	.value {color: #ddd;}

	.repeater_outer {
		// background
		// & > label {background: $dark; padding: 6px;}
	}

	.custom_app_links .repeater_entry:hover {background: rgba(255, 255, 255, .02)}
}

.repeater_body {border: 1px solid $dark;}
.repeater_entry {padding: 0 $pad1; background: rgba(0, 0, 0, .1)}
.repeater_entry:nth-child(even) {background: rgba(0, 0, 0, .2) }

//===========================================
// Comments
//===========================================
.ibtn {
	color: $white; opacity: 0.8; padding: 4px;
	&:hover {color: $primary; opacity: 1;  }
}
.comment_manage {
	display: none; position: absolute; top: -22px; right: -22px; background: $dark; padding: 5px 12px; box-shadow: 0 0 10px rgba(0, 0, 0, .2); line-height: 1; z-index: 20;
	a {display:inline-block; margin: 0; padding: 4px; }
}
.post_comment {
	position: relative;
	&:hover {
		.row {background: rgba(0, 0, 0, .1);}
		.comment_manage {display: block; }
	}
}

//===========================================
// PAGES
//===========================================

.player_card {
	border: 2px solid $dark; padding: $pad2 $pad4; position: relative; text-align: center; overflow: hidden; background: $dark;
	img {z-index: 0; position: absolute; top: 50%; left: 50%; @include prefix(transform, translate(-50%, -50%)); max-width: none; min-width: 100%; min-height: 100%; opacity: 0.2;} 
	strong {font-size: 1.2rem; text-shadow: 0 0 20px $black; position: relative; z-index: 2; }
}

.featured_news {
	position: relative; z-index: 5; display:block; z-index: 2; padding: $pad4 0; padding-top: 15vh; overflow:hidden;
	&:after {
		content: ''; position: absolute; top: -1px; left: -1px; right: -1px; bottom: -1px; opacity: 0.7; z-index: -1; 
		background: linear-gradient(0deg, rgba($dark, 1) 0%, rgba($dark, .8) 40%, rgba($dark, 0) 80%);
	}
	.bg {display:block; margin: 0; position: absolute; z-index: -2; max-width: 150%; max-height: none; min-width: 100%; min-height: 100%; position: absolute; top: 50%; left: 50%; @include prefix(transform, translate(-50%, -50%)); }
	h1 {margin: 0; padding: 0 $pad1; font-size: 2.5rem; text-shadow: 1px 1px 4px black; background: black; display:inline-block; clear: both; }
	h3 {margin: 0; font-size: 1.1rem; font-weight: normal; padding: $pad1; text-shadow: 1px 1px 2px black; background: black; display:inline-block; clear: both; }


	&:hover {
		a {color: $white; }
	}
}

.news_card {
	.inner {box-shadow: rgba(0, 0, 0, .3) 0 0 $pad2; border: 1px solid $dark;}
	.inner:hover {background: rgba(255, 255, 255, .01)}
	.news_image { position: relative; overflow: hidden; height: 260px;}
	.news_image img {position: absolute; left: 50%; top: 50%; max-width: none; min-width: 100%; height: 100%; @include prefix(transform, translate(-50%, -50%));}
	.news_text {
		padding: $pad3; background: $light-grey;
		h2 {min-height: 108px;  }
		h3 {min-height: 56px; font-weight: normal; font-size: 1rem; }
		a {color: $white; }
	}
}

// h2.title, .field-wysiwyg h2, .field-side_by_side h2 {font-family: "Prohibition"; font-weight:normal; font-size: 2rem;}

// News
iframe {height: 50vh !important; width: 100% !important; }
.news_content {
	h2 {margin-top: $pad4; }
	h3 {margin-top: $pad4; }
}


// Medium
@media screen and (max-width : 1024px) {

}

// Small
@media screen and (max-width : 768px) {

}