
//===========================================
// OS Overrides
//===========================================
body {background: $black; color: $white; }
.container {max-width: 1400px;}
.fill-primary {fill: $primary; }

//===========================================
// TYPEOGRAPHY
//===========================================
.ql-align-center {text-align: center; }

//===========================================
// HEADER
//===========================================
.logo {
	color: $white; display: block; font-weight: bold; font-size: 20px; padding: $pad1; padding-left: 0; 
	svg {display:inline-block; max-width: 34px; height: 34px; margin: -10px 2px; margin-left: 0; fill: $primary; }
	span {color: $primary; }
	&:hover {opacity: 0.8; color: $white; }
}
.top_outer {
	position: relative; z-index: 301; 
	.links a {font-size:13px; opacity:0.3; color: #ddd; padding: 4px 4px 6px; display:inline-block; }
	.links a:hover { opacity: 1;}
}

.header_outer {position: sticky; top: 0; z-index: 300; box-shadow: 0 2px $pad1 rgba(0, 0, 0, .3); }
.header .menu {
	margin:0; padding:0; list-style: none; padding-right: $pad2; 
	li {display: inline-block; }
	a {display:block; padding: $pad1 $pad2; opacity: 0.5; }
	a:hover {opacity: 1; color: $white;  }
	a.active {opacity: 1; }
}
// Header
.socials {
	font-size:0.01rem;
	a {display: inline-block; opacity: 0.8; margin: 0 2px; padding: 5px; width: 24px; height:24px;}
	span {display:block; position:relative; height:100%;}
	svg {fill:$white; display:block; position: absolute; top: 50%; left: 50%; @include prefix(transform, translate(-50%, -50%)); width:100%; height: auto !important; }
	a:hover {
		opacity: 1;
		&.emblem svg {fill: $primary}
		&.facebook svg {fill: #3b5998}
		&.youtube svg {fill: #FF0000}
		&.instagram svg {fill: #405de6}
		&.twitch svg {fill: #6441a5}
		&.twitter svg {fill: #1da1f2}
		&.discord svg {fill: #7289da}
	}
}

//===========================================
// FOOTER
//===========================================
.footer_outer {
	border-top: 4px solid $primary;
}
.footerlogo {
	h2 {color: $white; display: block; font-weight: bold; font-size: 20px; }
	span {color: $primary; }
	svg {width: 100px; margin: auto; }
}
.subfooter {background: #000; }
.footer_menu {
	.head_link {padding: $pad1 0; text-transform: uppercase; color: $white; font-weight: 500; }
	a {opacity: 0.7; padding: 4px 0; padding-right: $pad2; display: inline-block; }
	a.active {opacity: 1; color: $primary; }
	a:hover {opacity: 1; color: $white; }
}

//===========================================
// CONTENT
//===========================================
	.home_hero {
		position: relative; border-top: 2px solid black; overflow:hidden; 
		img {z-index: -1; min-width: 100%; max-width: none; display:block; }
		.text_overlay {width: 100%; max-width: none; position: absolute; top: 50%; left: 0; @include prefix(transform, translateY(-50%)); }
		h2 {font-size: 2.5rem; }
		h3 {font-size: 1.1rem; font-weight: normal; }
	}
	.home_parallax {
		overflow: hidden; height: 100vh; max-height: 600px;
		.bg {min-width: 130%; max-width: none; margin-left: -20%; margin-top: -10%; z-index: -1; }
	}


	.section {padding: $pad4 0;}
	.page_header_outer {
		position: relative; overflow: hidden; border-bottom: 2px solid $dark; padding: $pad4 0;
		.bg {position: absolute; top: 50%; left: 50%; @include prefix(transform, translate(-50%, -50%)); max-width: none; min-width: 100%; min-height: 100%; z-index: -1; }
		.page_header {position: relative; z-index: 5; }
		h1 {margin: 0; padding: $pad1 0 0; font-size: 2rem; text-shadow: 1px 1px 4px black; }
		h3 {margin: 0; font-weight: normal; padding: $pad1 0; text-shadow: 1px 1px 2px black; }
	}

	.table_lead {background: $dark; border-radius: 3px 3px 0 0; color: white; font-size: 16px; font-weight: 600; margin: 20px 0 0; padding: $pad1;}
	table tr, .table tr, table thead tr, .table thead tr {border: none; }
	table {
		word-break: break-all;

		th {font-size: 0.9rem; text-transform: uppercase; font-weight: 600; color: white; padding: $pad1; line-height:2;}
		tbody {
			tr:nth-child(even) { background: $dark-grey;  }
			td {padding: $pad1; font-weight:300; letter-spacing: 0.025rem; }
		}

		thead {background: $dark; }
	}

// Widgets
.widget {
	background: $black; margin-bottom: $pad1; border-radius: 3px 3px 0 0; border-top: 3px solid $primary;
	.title {font-size:16px; font-weight:700; color: $white; background: $dark; padding: $pad1 $pad2; border-radius: 3px 3px 0 0;}
	.content {padding: $pad1;}
}
.widget_categories > .content {padding:0;}
.widget:nth-child(2n) {border-color: $secondary;}
// .widget:nth-child(3n) {border-color: $silver;}

//===========================================
// PAGES
//===========================================
.achivements {}

// Medium
@media screen and (max-width : 1024px) {

}

// Small
@media screen and (max-width : 768px) {

}