
//===========================================
// OS Overrides
//===========================================
i.info {opacity:0.6; margin: -4px 6px; position: relative; top: 4px; }
option.material-icons {
	width: 45px;
}
option.break {display:block; height: 0; padding: 0; min-height: 1px; clear:both;}

//===========================================
// TYPEOGRAPHY
//===========================================

//===========================================
// HEADER
//===========================================
.leftsidebar {
	min-width: 220px;
	a {display:block; padding: $g1 $g3; }
	a:hover {background: $dark; color: $white;}
	a.active {background: $primary; color: $white;}
	span {display:block; padding: $g1; }
	i {position: relative; top: 6px; margin: -5px 6px -5px 0; max-width: 24px;}
}

//===========================================
// FOOTER
//===========================================

//===========================================
// CONTENT
//===========================================

//===========================================
// FORMS
//===========================================
.role_wrapper {
	&.enabled {background: rgba(mix($success, $white, 6%), 1); }
	&.disabled {background: $light-grey; color: $grey; }
}

// Medium
@media screen and (max-width : 1024px) {

}

// Small
@media screen and (max-width : 768px) {

}