
//===========================================
// OS Overrides
//===========================================
i.info {opacity:0.6; margin: -4px 6px; position: relative; top: 4px; }
option.material-icons {
	width: 45px;
}
option.break {display:block; height: 0; padding: 0; min-height: 1px; clear:both;}
.theme_dark {background: darken($black, 3%);}

.sticky {position: sticky; position: -webkit-sticky; top: -1px; }
// .cfheader {background: $white; margin: -$g2; padding: $g2; top: -$g2; box-shadow: 0 2px 10px rgba(0, 0, 0, .1)}
.container {max-width: none; padding-left: $g2; padding-right: $g2;  }

strong, .strong {font-weight: 500;}

.message_outer {
	position: absolute; bottom: 0; left: 0; right: 0; background: $white; border-top: 1px solid $grey; opacity: 1; @include prefix(transition, opacity 0.3s ease-in-out);
}

//===========================================
// TYPEOGRAPHY
//===========================================

//===========================================
// HEADER
//===========================================
.leftsidebar {
	min-width: 220px; max-height: 100%; overflow-y: auto;
	a {display:block; padding: $g1 $g3; }
	a:hover {background: $dark; color: $white;}
	a.active {background: $primary; color: $white;}
	span {display:block; padding: $g1; }
	i {position: relative; top: 6px; margin: -5px 6px -5px 0; max-width: 24px;}
}

.btn i {position: relative; top: 7px; margin: -10px 8px 4px 0; max-width: 24px;}

//===========================================
// FOOTER
//===========================================

//===========================================
// CONTENT
//===========================================
@keyframes fadepulse {
	0% {opacity: 1; }
	50% {opacity: 0.5; }
	10% {opacity: 1; }
}
.lazy:not(.loaded) {
	animation: fadepulse 1s linear infinite; 
}
.content_outer {max-height: 100%; overflow: hidden; position: relative; }
.content_inner {
	max-height: calc(100vh - 50px); overflow: auto;
	// &:after {content: ''; display: block; float: none; clear: both; padding: $g4;}
}

	// Dashboard
	.dashboard_profile {margin: -$g2; margin-left: 0; }
	.avatar {border: 8px solid $grey; border-radius: 6px; padding: $g1; }

	.dashboard_calendar {
		.event {padding: 3px $g1; border-radius: 4px; }
	}

	// modals
	.modal_outer {
		position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, .5); z-index: 100; 

		.modal_inner {
			width: 1300px; height: 90vh; max-width: 95%; max-height: 95%; position: fixed; top: 50%; left: 50%; @include prefix(transform, translate(-50%, -50%)); background: $white; box-shadow: 0 0 $g2 rgba($black, .5);
		}

		.modal_header {position: relative; }
		.modal_title {
			background: $black; color: $white; padding: $g1; font-size: 1.5rem; font-weight: 500; 
		}
		.modal_close {
			border-radius: 50%; position: absolute; top: 0; right: 0; background: $white; width: 30px; height: 30px; padding: 3px; @include prefix(transform, translate(-50%, 50%)); cursor:pointer;
			&:hover {background: $primary; color: $white; }
		}
		.modal_body {
			max-height: calc(100% - 63px); overflow: hidden; padding: $g2; 
			// position: fixed; top: 50%; left: 50%; @include prefix(transform, translate(-50%, -50%));
		}
	}

//===========================================
// MEDIA
//===========================================
.img_border {
	box-shadow: 0 4px 10px rgba($black, .2); border: 2px solid rgba($black, .1); background: rgba($black, 0.2);
}
.rf_media {
	.file_card {
		@extend .img_border;
		overflow: hidden; position:relative; z-index:1;
		.bg {display:block; position: absolute; top: 50%; left: 50%; @include prefix(transform, translate(-50%, -50%)); max-height: 101%; max-width: none; z-index: -1; }
		.overlay {display: block; position: absolute; z-index: 1; top: -1px; right: -1px; bottom: -1px; left: -1px; background: linear-gradient(0deg, rgba(23, 28, 35, 1) 0%, rgba(23, 28, 35, .8) 40%, rgba(23, 28, 35, 0) 80%); opacity: 0; -webkit-backface-visibility: none; @include prefix(transition, opacity 0.2s ease-in-out); }
		&:hover .overlay:hover {opacity: 0.3; }
		&.square {
			&:after {content: ''; padding-top: 100%; display:block; }
		}
	}
}

.rf_media_edit {
	.image img {
		@extend .img_border;
	}
}

//===========================================
// FORMS
//===========================================
.role_wrapper {
	&.enabled {background: rgba(mix($success, $white, 6%), 1); }
	&.disabled {background: $light-grey; color: $grey; }
}
.formsec {padding: $g2 0 0;}

//===========================================
// Custom Fields
//===========================================
// .fieldset_outer .fieldset {border-bottom: 1px solid $light-grey; }
// .fieldset_outer .fieldset:last-child {border: none; }
.cf_fields .entry:nth-child(even) {background: $light-grey;}
.rcf_rules .rule_group:nth-child(1) .condition_row:nth-child(1) .rcf-delete-rule {display: none;}

.accordion_handle {
	@include prefix(transition, background $animation-speed ease-in-out); font-weight: 500; cursor: pointer; position: relative;
	&.toggled {
		background: $primary; color: $white; 
	}
}
.accordion {
	overflow:hidden; opacity: 1; background: $white; @include prefix(transition, max-height $animation-speed ease-in-out, padding $animation-speed ease-in-out, opacity $animation-speed ease-in-out);
	&.collapsed { opacity: 0; max-height: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important; border: none; }
}
.menu_header {border-top: 1px solid $grey;}
.menu_header:first-child {border: none;}

// Medium
@media screen and (max-width : 1024px) {

}

// Small
@media screen and (max-width : 768px) {

}